{% extends 'APositiveBundle::frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2 col-xs-12 col-sm-12">
            <div class="nav-stacked" role="navigation">
                <ul class="nav navbar-collapse">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#" >Event</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-xs-12 col-sm-12">
            hai
        </div>
    </div>
{% endblock %}